---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.footer-col-2 {
  a {
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap;
  }
}
